@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #3182ce;
  --secondary: #805ad5;
  --secondary-light: #faf5ff;
  --accent: #ed64a6;
  --accent-light: #fff5f7;
  --light: #f7fafc;
  --dark: #1a202c;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.btn {
  padding: 1rem 2rem;
  background: none;
  font-size: 1.7rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  transition: all 0.3s ease-out;
}
